@model IEnumerable<ViewComponentSample.Models.TodoItem>

<h3>Priority Items Sync</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Priority: @item.Name</li>
    }
</ul>


<div>
    @Html.ActionLink("Back", "Index")
</div>
